@{
    ViewBag.Title = "Index";
}
<style>
    html, body, .container-table {
        height: 100%;
    }

    .container-table {
        margin-top: 10px;
        display: table;
        width: 80%;
    }

    .vertical-center-row {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-dialog {
        width: 90%;
    }

    .dataTables_length, .dataTables_filter{
        display: none;
    }

</style>
<div class="container container-table">
    <div class="row vertical-center-row">
        <div>
            <table id="UploadsTable" class="display"  style="width: 100%">
                <thead>
                    <tr>
                        <th>Upload ID</th>
                        <th>Date and Time</th>
                        <th>Process</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@*Upload Data Modal*@
<div class="row">
    <div class="modal fade" id="uploaddata" tabindex="-1" role="dialog" aria-labelledby="UploadDataLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="UploadDataLabel">Process Upload</h3>
                </div>
                <div class="modal-body">
                    <table id="UploadDataTable" class="display" style="width: 100%">
                        <thead>
                            <tr>
                                <th>Narration</th>
                                <th>Amount</th>
                                <th>Bank</th>
                                <th>Account Number</th>
                                <th>Account Name</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" id="updateUploadData" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing ...">Submit</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var paymentData = {};
        var accountNumbers = {};


        $(function () {

            $.ajax({
                type: 'POST',
                data: { __RequestVerificationToken: helpers.getAntiForgeryToken() },
                url: '/BranchOperator/GetAllAccounts',
                success: function (data) {
                    accountNumbers = data;
                }
            });

            $("#UploadsTable").dataTable({
                columns: [
                    { data: "Id" },
                    { data: "UploadDate" },
                    {
                        render: function (data, type, full, meta) {
                            return '<a class="btn btn-default" onClick="openModal(\'' + full.Id + '\')">Process</a>'
                        }
                    }
                ],
                ajax: {
                    url: '/BranchOperator/GetAllPendingBranchUploads',
                    method: 'POST',
                    data: { __RequestVerificationToken: helpers.getAntiForgeryToken(), branchId: '@ViewBag.UserBranch' }
                }
            });
        });

        var searchAccount = function (acctNumber, uploadDataId) {
            console.log($('#bank_' + uploadDataId).val());
            if ($('#bank_' + uploadDataId).val() == '') {
                alert("Select Bank First");
                return;
            }
            console.log(accountNumbers)
            $.each(accountNumbers, function (i, v) {
                if (v.AccountNumber == acctNumber & $('#bank_' + uploadDataId).val() == v.BankId) {
                    $('#acctName_' + uploadDataId).val(v.AccountName);

                    $.each(paymentData, function (i, v) {
                        if (v.Id == uploadDataId) {
                            v.AccountNumber = acctNumber;
                            v.BankId = $('#bank_' + uploadDataId).val();
                        }
                    });
                } else {
                    $('#acctName_' + uploadDataId).val('');
                }
                console.log(paymentData);
            });
        };

        var openModal = function (uploadId) {
            $.ajax({
                type: 'POST',
                data: { __RequestVerificationToken: helpers.getAntiForgeryToken(), UploadId: '' + uploadId + '' },
                url: '/BranchOperator/GetUploadData',
                success: function (data) {
                    console.log(data);
                    paymentData = data;
                }
            }).done(function () {
                $("#UploadDataTable").dataTable().fnDestroy();
                $("#UploadDataTable").dataTable({
                    data: paymentData,
                    columns: [
                        { data: "Narration" },
                        { data: "Amount" },
                        {
                            render: function (data, type, full, meta) {
                                return '<select name="bank_' + full.Id + '" id="bank_' + full.Id + '" class="form-control bank_select"> <optgroup label="Select Bank"></optgroup> </select>'
                            }
                        },
                        {
                            render: function (data, type, full, meta) {
                                return '<input type="text" placeholder="Account Number" class="form-control" name="acctNumber_' + full.Id + '" id="acctNumber_' + full.Id + '" onChange="searchAccount(this.value, \'' + full.Id + '\')"/>'
                            }
                        },
                        {
                            render: function (data, type, full, meta) {
                                return '<input type="text" placeholder="Account Name" class="form-control" name="acctName_' + full.Id + '" id="acctName_' + full.Id + '"/>'
                            }
                        }
                    ],
                    fnDrawCallback: function (oSettings) {
                        $.each($('.bank_select'), function (i, v) {
                            console.log(v)
                            helpers.getData("/SetUp/GetAllBanks", function (data) {
                                helpers.buildDropdown(data, $('#' + v.name + ''), 'Select Bank');
                            });
                        });
                    }
                });
            });
            $('#uploaddata').modal();
        };

        $('#updateUploadData').click(function () {

            $(this).button('loading');

            var updates = [];

            $.each(paymentData, function (i, v) {
                if (v.AccountNumber != null)
                    updates.push({ UploadDataId: v.Id, AccountNumber: v.AccountNumber, UploadId: v.UploadId, BankId: v.BankId });
            });

            console.log(updates);
            $('#confirmationModal').modal();
            $.ajax({
                type: 'POST',
                url: '/BranchOperator/UpdateUploadData',
                contentType: 'application/json; charset=utf-8',
                datatype: "json",
                data: JSON.stringify({ model: updates }),
                success: function (data) {
                    console.log(data);
                    $('#updateUploadData').button('reset');
                    $('#uploaddata').modal('hide');
                    $('#confirmationModal').modal();
                    $('#notification').text('Payment Data Updated');
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Error Occured, Check Data Input');
                }
            });
        });

        $('#confirmationModal').on('hide.bs.modal', function (e) {
            location.reload();
        });
    </script>
}

