@{
    ViewBag.Title = "Index";
}
<style>
    html, body, .container-table {
        height: 100%;
    }

    .container-table {
        margin-top: 10px;
        display: table;
        width: 80%;
    }

    .vertical-center-row {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-dialog {
        width: 90%;
    }

    .dataTables_length, .dataTables_filter {
        display: none;
    }
</style>
<div class="container container-table">
    <div class="row vertical-center-row">
        <div>
            <table id="UploadsTable" class="display" style="width: 100%">
                <thead>
                    <tr>
                        <th>Upload ID</th>
                        <th>Date and Time</th>
                        <th>Bank</th>
                        <th>Branch</th>
                        <th>Process</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@*Upload Data Modal*@
<div class="row">
    <div class="modal fade" id="uploaddata" tabindex="-1" role="dialog" aria-labelledby="UploadDataLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="UploadDataLabel">Process Upload</h3>
                </div>
                <div class="modal-body">
                    <table id="UploadDataTable" class="display" style="width: 100%">
                        <thead>
                            <tr>
                                <th>Account Number</th>
                                <th>Debit</th>
                                <th>Credit</th>
                                <th>PostingCode</th>
                                <th>Narration</th>
                                <th>Account Name</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" id="updateUploadData" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing ...">Submit</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var paymentData = {};
        var accountNumbers = {};
        var banks = {};

        $(function () {


            helpers.getData("/SetUp/GetAllBanks", function (data) {
                banks = data;
            });

            $("#UploadsTable").dataTable({
                columns: [
                    { data: "Id" },
                    { data: "UploadDate" },
                    { data: "BankName" },
                    { data: "BranchCode" },
                    {
                        render: function (data, type, full, meta) {
                            return '<a class="btn btn-default process_uploaddata" onClick="openModal(\'' + full.Id + '\', \'' + full.BankId + '\', \'' + full.BankName + '\')" data-loading-text="<i class=\'fa fa-spinner fa-spin \'></i> Getting Upload Data ...">Process</a>'
                        }
                    }
                ],
                ajax: {
                    url: '/BranchOperator/GetAllPendingBranchUploads',
                    method: 'POST',
                    data: { __RequestVerificationToken: helpers.getAntiForgeryToken(), branchId: '@ViewBag.UserBranch' }
                }
            });
        });

        var getBankName = function (bankId, banks) {
            console.log(banks);
            console.log(bankId);
            var bank_name = "";
            $.each(banks, function (i, v) {
                if (v.Id == bankId) {
                    bank_name = v.BankName;
                }
            });
            return bank_name;
        }

        var searchAccount = function (acctNumber, uploadDataId) {

            console.log(accountNumbers)
            $.each(paymentData, function (i, v) {
                if (v.Id == uploadDataId) {
                    v.AccountNumber = acctNumber;
                }
            });
            $.each(accountNumbers, function (i, v) {
                if (v.AccountNumber == acctNumber) {
                    $('#acctName_' + uploadDataId).val(v.AccountName);
                   
                } else {
                    $('#acctName_' + uploadDataId).val('');
                }
                console.log(paymentData);
            });
        };

        var openModal = function (uploadId, bankId, bankName) {
            $('.process_uploaddata').button('loading');
            $('#UploadDataLabel').text("Process Upload for Bank: " + bankName);

            $.ajax({
                type: 'POST',
                data: { __RequestVerificationToken: helpers.getAntiForgeryToken() },
                url: '/BranchOperator/GetBankAccounts',
                success: function (data) {
                    accountNumbers = data;
                    loadUploadData(uploadId);
                }
            }).done(function () {
                $('.process_uploaddata').button('reset');
            })
        };

        var loadUploadData = function (uploadId) {
            $.ajax({
                type: 'POST',
                data: { __RequestVerificationToken: helpers.getAntiForgeryToken(), UploadId: '' + uploadId + '' },
                url: '/BranchOperator/GetUploadData',
                success: function (data) {
                    console.log(data);
                    paymentData = data;
                }
            }).done(function () {
                $("#UploadDataTable").dataTable().fnDestroy();
                $("#UploadDataTable").dataTable({
                    data: paymentData,
                    columns: [
                        {
                            render: function (data, type, full, meta) {
                                return '<input type="text" placeholder="Account Number" class="form-control" value="' + full.AccountNumber + '" name="acctNumber_' + full.Id + '" id="acctNumber_' + full.Id + '" onChange="searchAccount(this.value, \'' + full.Id + '\')"/>'
                            }
                        },
                        {
                            render: function (data, type, full, meta) {
                                var sym = "";
                                if (full.Debit1Credit0) {
                                    return '<p>' + full.Amount + '</p>';
                                } else {
                                    return '<p></p>';
                                }
                                    
                            }
                        },
                        {
                            render: function (data, type, full, meta) {
                                var sym = "";
                                if (!full.Debit1Credit0) {
                                    return '<p>' + full.Amount + '</p>';
                                } else {
                                    return '<p></p>';
                                }                                    
                            }
                        },
                         { data: "PostingCode" },
                         { data: "Narration" },
                        {
                            render: function (data, type, full, meta) {
                                return '<input type="text" placeholder="Account Name" class="form-control" value="' + full.AccountName + '" name="acctName_' + full.Id + '" id="acctName_' + full.Id + '"/>'
                            }
                        }
                    ]
                });
            });
            $('#uploaddata').modal();
        };

        $('#updateUploadData').click(function () {

            $(this).button('loading');

            var updates = [];

            $.each(paymentData, function (i, v) {
                if (v.AccountNumber != null)
                    updates.push({ UploadDataId: v.Id, AccountNumber: v.AccountNumber, UploadId: v.UploadId });
            });

            
            $.ajax({
                type: 'POST',
                url: '/BranchOperator/UpdateUploadData',
                contentType: 'application/json; charset=utf-8',
                datatype: "json",
                data: JSON.stringify({ model: updates }),
                success: function (data) {
                    console.log(data);
                    $('#uploaddata').modal('hide');
                    $('#confirmationModal').modal();
                    $('#notification').text('Payment Data Updated');
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Error Occured, Check Data Input');
                },
                complete: function (data) {
                    $('#updateUploadData').button('reset');
                }
            });
        });

        $('#confirmationModal').on('hide.bs.modal', function (e) {
            location.reload();
        });
    </script>
}

