
@{
    ViewBag.Title = "Index";
}
<style>
    html, body, .container-table {
        height: 500px;
    }

    .container-table {
        display: table;
    }

    .vertical-center-row {
        display: table-cell;
        vertical-align: middle;
    }
</style>
<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="col-md-3">
            <h2>Manage Users</h2>
            <p>
                Click the button below to add/remove Users
            </p>
            <p><a class="btn btn-default" data-toggle="modal" href="#" onclick="loadUserList()">Manage Users &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Banks</h2>
            <p>Click the button below to add Banks</p>
            <p><a class="btn btn-default" data-toggle="modal" href="#" onclick="loadBankList()">Add Bank &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>GL Accounts</h2>
            <p>Add Bank GL Accounts</p>
            <p><a class="btn btn-default" data-toggle="modal" href="#manageBankGLAccount">GL Accounts &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Customer Accounts</h2>
            <p>Add Customer accounts</p>
            <p><a class="btn btn-default" data-toggle="modal" href="#manageAccount">Accounts &raquo;</a></p>
        </div>        
    </div>
    <div class="row vertical-center-row">
        <div class="col-md-3">
            <h2>Branch</h2>
            <p>Add/remove Branch</p>
            <p><a class="btn btn-default" data-toggle="modal" href="#" onclick="loadBranchList()">Manage Branches &raquo;</a></p>
        </div>
    </div>

    @*Manage Users Modal*@
    <div class="row">
        <div class="modal fade" id="manageUser" tabindex="-1" role="dialog" aria-labelledby="ManageUserLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="ManageUserLabel">Manage Users</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input type="hidden" name="userId" id="userId" />
                            <div class="form-group">
                                <label for="username" class="control-label">User Name:</label>
                                <input type="text" name="username" id="username" placeholder="User Name" autofocus required class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="useremail" class="control-label">User Email:</label>
                                <input type="email" name="useremail" id="useremail" placeholder="User Email" required class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">Password:</label>
                                <input type="password" name="password" id="password" placeholder="Password" autocomplete="off" required class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">Confirm Password:</label>
                                <input type="password" name="confirm_password" id="confirm_password" required placeholder="Password" autocomplete="off" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="role" class="control-label">Role:</label>
                                <select name="role" id="role" required class="form-control">
                                    <optgroup label="Select Role">
                                        <option value="13f6c48f-edf9-4530-b4b8-ea24e9dc3c2c" selected>Administrator</option>
                                        <option value="af919b6d-b025-4d9b-8766-e43cd9646d4c">Head Office Operator</option>
                                        <option value="977729af-7855-4934-b64d-fff5845796b0">Branch Operator</option>
                                        <option value="794956f9-2275-4d18-9b7a-30afc8525d2a">Branch Verifier</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="branch_user" class="control-label">Branch:</label>
                                <select name="branch_user" id="branch_user" required class="form-control">
                                    <optgroup label="Select Branch"></optgroup>
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="button" id="registerNewUser" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Registering New User ...">Submit </button>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="button" id="editExistingUser" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Editing User ...">Submit </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        @*<a href="#" class="btn btn-primary">Remove User</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Bank*@
    <div class="row">
        <div class="modal fade" id="manageBank" tabindex="-1" role="dialog" aria-labelledby="ManageBankLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="ManageBankLabel">Manage Bank</h3>                                               
                    </div>
                    <div class="modal-body">
                        <form>
                            <input type="hidden" name="bankId" id="bankId" />
                            <div class="form-group">
                                <label for="bankname" class="control-label">Bank Name:</label>
                                <input type="text" name="bankname" id="bankname" placeholder="Bank Name" autofocus required class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="bankacronym" class="control-label">Bank Acronym:</label>
                                <input type="text" name="bankacronym" id="bankacronym" placeholder="Bank Acronym" autofocus required class="form-control" />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="button" id="registerNewBank" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Registering New Bank ...">Submit </button>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="button" id="editExistingBank" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Editing Bank ...">Submit </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Bank GL Account*@
    <div class="row">
        <div class="modal fade" id="manageBankGLAccount" tabindex="-1" role="dialog" aria-labelledby="ManageBankGLAccountLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="ManageBankGLAccountLabel">Manage Bank GL Account</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="glaccount_bank" class="control-label">Bank:</label>
                                <select name="glaccount_bank" id="glaccount_bank" required class="form-control">
                                    <optgroup label="Select Bank"></optgroup>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="glaccount" class="control-label">GL Account:</label>
                                <input type="text" name="glaccount" id="glaccount" placeholder="GL Account" autofocus required class="form-control" />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="button" id="registerNewBankGLAccount" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Saving Bank GL Account...">Submit </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Account*@
    <div class="row">
        <div class="modal fade" id="manageAccount" tabindex="-1" role="dialog" aria-labelledby="ManageAccountLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="ManageAccountLabel">Add Customer Accounts</h3>
                    </div>
                    <div class="modal-body">
                        <form id="frmManageAccount">
                            <div class="form-group">
                                <label for="accountnumber" class="control-label">Account Number:</label>
                                <input type="text" name="accountnumber" id="accountnumber" placeholder="Account Number" autofocus autocomplete="off" required class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="accountname" class="control-label">Account Name:</label>
                                <input type="text" name="accountname" id="accountname" placeholder="Account Name" required class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="branch_account" class="control-label">Account Branch:</label>
                                <select name="branch_account" id="branch_account" required class="form-control">
                                    <optgroup label="Select Branch"></optgroup>
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="button" id="registerNewAccount" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Registering New Account">Submit </button>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="button" id="editExistingAccount" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Editing Account ...">Submit </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-7">
                                <input type="file" id="accountfile" name="accountfile" placeholder="Account File" accept="csv" />
                            </div>
                            <div class="col-md-5">
                                <button class="btn btn-primary" type="button" id="bulkRegisterAccounts" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Registering New Accounts">Upload Account File </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Branch*@
    <div class="row">
        <div class="modal fade" id="manageBranch" tabindex="-1" role="dialog" aria-labelledby="ManageBranchLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>                        
                        <h3 class="modal-title" id="ManageBranchLabel">Add Branch</h3>                     

                    </div>
                    <div class="modal-body">
                        <form id="frmManageBranch">
                            <input type="hidden" name="branchId" id="branchId" />
                            <div class="form-group">
                                <label for="branchcode" class="control-label">Branch Code</label>
                                <input type="text" name="branchcode" id="branchcode" placeholder="Branch Code" required class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="branchname" class="control-label">Branch Name:</label>
                                <input type="text" name="branchname" id="branchname" placeholder="Branch Name" autofocus autocomplete="off" required class="form-control" />
                            </div>
                            @*<div class="form-group">
                                <label for="branch_glaccount" class="control-label">GL Account</label>
                                <input type="text" name="branch_glaccount" id="branch_glaccount" placeholder="GL Account" required class="form-control" />
                            </div>*@
                            <div class="form-group">
                                <button class="btn btn-primary" type="button" id="registerNewBranch" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Registering New Branch ...">Submit </button>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="button" id="editExistingBranch" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Editing Branch ...">Submit </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Branch List*@
    <div class="row">
        <div class="modal fade" id="BranchListModal" tabindex="-1" role="dialog" aria-labelledby="BranchListLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="modal-title" id="BranchListLabel">All Branches</h3>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary" type="button" id="addNewBranch" name="addNewBranch">Add New Branch</button>
                            </div>
                        </div>

                    </div>
                    <div class="modal-body">
                        <table id="BranchListTable" class="display" style="width: 100%">
                            <thead>
                                <tr>
                                    @*<th>ID</th>*@
                                    <th>Branch Name</th>
                                    <th>Branch Code</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Bank List*@
    <div class="row">
        <div class="modal fade" id="BankListModal" tabindex="-1" role="dialog" aria-labelledby="BankListLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>                        

                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="modal-title" id="BranchListLabel">All Banks</h3>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary" type="button" id="addNewBank" name="addNewBank">Add New Bank</button>
                            </div>
                        </div> 
                    </div>
                    <div class="modal-body">
                        <table id="BankListTable" class="display" style="width: 100%">
                            <thead>
                                <tr>
                                    @*<th>ID</th>*@
                                    <th>Bank Name</th>
                                    <th>Bank Acronym</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*User List*@
    <div class="row">
        <div class="modal fade" id="UserListModal" tabindex="-1" role="dialog" aria-labelledby="UserListLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="modal-title" id="UserListLabel">All Users</h3>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary" type="button" id="addNewUser" name="addNewUser">Add New User</button>
                            </div>
                        </div>

                    </div>
                    <div class="modal-body">
                        <table id="UserListTable" class="display" style="width: 100%">
                            <thead>
                                <tr>
                                    @*<th>ID</th>*@
                                    <th>UserName</th>
                                    <th>Branch</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Account List*@
    <div class="row">
        <div class="modal fade" id="AccountListModal" tabindex="-1" role="dialog" aria-labelledby="AccountListLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>

                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="modal-title" id="AccountListLabel">All Accounts</h3>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary" type="button" id="addNewAccount" name="addNewAccount">Add New Account</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <table id="AccountListTable" class="display" style="width: 100%">
                            <thead>
                                <tr>
                                    @*<th>ID</th>*@
                                    <th>Account</th>
                                    <th>Account Name</th>
                                    <th>Account Branch</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var BranchList = {};
        var BankList = {};
        var UserList = {};
        var AccountList = {};
        $(function () {
            helpers.getData("/SetUp/GetAllBranches", function (data) {
                helpers.buildDropdown(data, $('#branch_user'), 'Select Branch', 'BranchCode');
                helpers.buildDropdown(data, $('#branch_account'), 'Select Branch', 'BranchCode');
                BranchList = data;
            });

            helpers.getData("/SetUp/GetAllBanks", function (data) {
                helpers.buildDropdown(data, $('#glaccount_bank'), 'Select Bank');
                BankList = data;
            });

            helpers.getData("/SetUp/GetAllUsers", function (data) {
                UserList = data;
            });

            helpers.getData("/SetUp/GetAllAccounts", function (data) {
                AccountList = data;
            });
        });        

        var loadBranchList = function () {
            $("#BranchListTable").DataTable().clear().destroy();
            $("#BranchListModal").modal();
            $("#BranchListTable").DataTable({
                data: BranchList,
                columns: [
                    //{ data: "Id" },
                    { data: "Name" },
                    { data: "BranchCode" },
                    {
                        render: function (data, type, full, meta) {
                            return '<a class="btn btn-default" onClick="EditBranch(\'' + full.Id + '\', \'' + full.Name + '\', \'' + full.BranchCode + '\')">Edit</a>'
                        }
                    },
                    {
                        render: function (data, type, full, meta) {
                            return '<a class="btn btn-danger" id="btnDeleteBranch" onClick="DeleteBranch(\'' + full.Id + '\', \'' + full.Name + '\', \'' + full.BranchCode + '\')" data-loading-text="<i class=\'fa fa-spinner fa-spin \'></i> Deleting ...">Delete</a>'
                        }
                    }
                ]
            });
        }

        var loadBankList = function () {
            $("#BankListTable").DataTable().clear().destroy();
            $("#BankListModal").modal();
            $("#BankListTable").DataTable({
                data: BankList,
                columns: [
                    //{ data: "Id" },
                    { data: "Name" },
                    { data: "Acronym" },
                    {
                        render: function (data, type, full, meta) {
                            return '<a class="btn btn-default" onClick="EditBank(\'' + full.Id + '\', \'' + full.Name + '\', \'' + full.Acronym + '\')">Edit</a>'
                        }
                    },
                    {
                        render: function (data, type, full, meta) {
                            return '<a class="btn btn-danger" id="btnDeleteBank" onClick="DeleteBank(\'' + full.Id + '\', \'' + full.Name + '\', \'' + full.Acronym + '\')" data-loading-text="<i class=\'fa fa-spinner fa-spin \'></i> Deleting ...">Delete</a>'
                        }
                    }
                ]
            });
        }

        var loadUserList = function () {
            $("#UserListTable").DataTable().clear().destroy();
            $("#UserListModal").modal();
            $("#UserListTable").DataTable({
                data: UserList,
                columns: [
                    //{ data: "Id" },
                    { data: "UserName" },
                    { data: "BranchName" },
                    { data: "RoleName" },
                    {
                        render: function (data, type, full, meta) {
                            return '<a class="btn btn-default" onClick="EditUser(\'' + full.Id + '\', \'' + full.UserName + '\', \'' + full.BranchId + '\', \'' + full.RoleId + '\')">Edit</a>'
                        }
                    },
                    {
                        render: function (data, type, full, meta) {
                            return '<a class="btn btn-danger" id="btnDeleteUser" onClick="DeleteUser(\'' + full.Id + '\', \'' + full.UserName + '\', \'' + full.BranchId + '\', \'' + full.RoleId + '\')" data-loading-text="<i class=\'fa fa-spinner fa-spin \'></i> Deleting ...">Delete</a>'
                        }
                    }
                ]
            });
        }

        var loadAccountList = function () {
            $("#AccountListTable").DataTable().clear().destroy();
            $("#AccountListModal").modal();
            $("#AccountListTable").DataTable({
                data: AccountList,
                columns: [
                    //{ data: "Id" },
                    { data: "AccountNumber" },
                    { data: "AccountName" },
                    { data: "AccountBranch" },
                    {
                        render: function (data, type, full, meta) {
                            return '<a class="btn btn-default" onClick="EditAccount(\'' + full.Id + '\', \'' + full.AccountNumber + '\', \'' + full.AccountName + '\', \'' + full.AccountBranch + '\')">Edit</a>'
                        }
                    },
                    {
                        render: function (data, type, full, meta) {
                            return '<a class="btn btn-danger" id="btnDeleteAccount" onClick="DeleteAccount(\'' + full.Id + '\', \'' + full.AccountNumber + '\', \'' + full.AccountName + '\', \'' + full.AccountBranch + '\')" data-loading-text="<i class=\'fa fa-spinner fa-spin \'></i> Deleting ...">Delete</a>'
                        }
                    }
                ]
            });
        }

        var DeleteBranch = function (branchId, branchName, branchCode) {
            $(this).button('loading');

            var _data = {
                __RequestVerificationToken: helpers.getAntiForgeryToken(),
                BranchName: branchName,
                Id: branchId,
                BranchCode: branchCode
            };

            $.ajax({
                type: 'POST',
                data: _data,
                url: '/SetUp/DeleteBranch',
                success: function (data) {
                    $('#btnDeleteBranch').button('reset');
                    $('#BranchListModal').modal('hide');
                    $('#confirmationModal').modal();
                    $('#notification').text('Branch Deleted Successfully');
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Error Occured, ' + xhr.responseText);
                }
            })
        };

        var DeleteBank = function (bankId, bankName, bankAcronym) {
            $(this).button('loading');

            var _data = {
                __RequestVerificationToken: helpers.getAntiForgeryToken(),
                BankName: bankName,
                Id: bankId,
                BankAcronym: bankAcronym
            };

            $.ajax({
                type: 'POST',
                data: _data,
                url: '/SetUp/DeleteBank',
                success: function (data) {
                    $('#btnDeleteBank').button('reset');
                    $('#BankListModal').modal('hide');
                    $('#confirmationModal').modal();
                    $('#notification').text('Bank Deleted Successfully');
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Error Occured, ' + xhr.responseText);
                }
            })
        };

        var DeleteUser = function (userId, userName, branchId, roleId) {
            $(this).button('loading');

            var _data = {
                __RequestVerificationToken: helpers.getAntiForgeryToken(),
                Username: userName,
                Id: userId,
                BranchId: branchId,
                RoleId: roleId
            };

            $.ajax({
                type: 'POST',
                data: _data,
                url: '/SetUp/DeleteUser',
                success: function (data) {
                    $('#btnDeleteUser').button('reset');
                    $('#UserListModal').modal('hide');
                    $('#confirmationModal').modal();
                    $('#notification').text('User Deleted Successfully');
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Error Occured, ' + xhr.responseText);
                }
            })
        };

        $("#addNewUser").click(function () {
            $('#editExistingUser').hide();
            $('#registerNewUser').show();
            $('#UserListModal').modal('hide');
            $('#manageUser').modal();
        });

        $("#addNewBank").click(function () {
            $('#editExistingBank').hide();
            $('#registerNewBank').show();
            $('#BankListModal').modal('hide');
            $('#manageBank').modal();
        });

        $("#addNewBranch").click(function () {
            $('#editExistingBranch').hide();
            $('#registerNewBranch').show();
            $('#BranchListModal').modal('hide');
            $('#manageBranch').modal();
        });

        var EditBranch = function (branchId, branchName, branchCode) {
            $('#branchcode').val(branchCode);
            $('#branchname').val(branchName);
            $('#branchId').val(branchId);
            $('#editExistingBranch').show();
            $('#registerNewBranch').hide();
            $('#BranchListModal').modal('hide');
            $('#manageBranch').modal();
        }

        var EditBank = function (bankId, bankName, bankAcronym) {
            $('#bankname').val(bankName);
            $('#bankacronym').val(bankAcronym);
            $('#bankId').val(bankId);
            $('#editExistingBank').show();
            $('#registerNewBank').hide();
            $('#BankListModal').modal('hide');
            $('#manageBank').modal();
        }

        var EditUser = function (userId, userName, branchId, roleId) {
            $('#username').val(userName);
            $('#username').addClass('disabled');
            $('#branch_user').val(branchId);
            $('#role').val(roleId);
            $('#userId').val(bankId);
            $('#editExistingUser').show();
            $('#registerNewUser').hide();
            $('#UserListModal').modal('hide');
            $('#manageUser').modal();
        }
        
        $('#registerNewUser').click(function (e) {
            $(this).button('loading');

            var username = $('#username').val();

            if (!username.match(/^\S*$/)) {
                alert("Username cannot contain space");
                $('#registerNewUser').button('reset');
                return false;
            }

            if (!helpers.checkEquality($('#password').val(), $('#confirm_password').val())) {
                alert('Password strings does not match');
                $('#registerNewUser').button('reset');
                return false;
            }

            var _data = {
                __RequestVerificationToken: helpers.getAntiForgeryToken(),
                UserName: $('#username').val(),
                Email: $('#useremail').val(),
                Role: $('#role').val(),
                Branch: $('#branch_user').val(),
                Password: $('#password').val(),
                ConfirmPassword: $('#confirm_password').val()
            };
            //console.log(_data);

            $.ajax({
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                url: '/SetUp/RegisterNewUser',
                data: _data,
                success: function (data) {
                    $('#manageUser').modal('hide');
                    $('#confirmationModal').modal();
                    $('#notification').text('New User Registered');
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Error Occured, ' + xhr.responseText);
                },
                complete: function () {
                    $('#registerNewUser').button('reset');
                }
            });
        });

        $('#editExistingUser').click(function (e) {
            $(this).button('loading');

            var username = $('#username').val();

            if (!username.match(/^\S*$/)) {
                alert("Username cannot contain space");
                $('#registerNewUser').button('reset');
                return false;
            }

            if (!helpers.checkEquality($('#password').val(), $('#confirm_password').val())) {
                alert('Password strings does not match');
                $('#registerNewUser').button('reset');
                return false;
            }

            var _data = {
                __RequestVerificationToken: helpers.getAntiForgeryToken(),
                Id: $('#userId').val(),
                UserName: $('#username').val(),
                Email: $('#useremail').val(),
                Role: $('#role').val(),
                Branch: $('#branch_user').val(),
                Password: $('#password').val(),
                ConfirmPassword: $('#confirm_password').val()
            };
            //console.log(_data);

            $.ajax({
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                url: '/SetUp/UpdateUser',
                data: _data,
                success: function (data) {
                    $('#manageUser').modal('hide');
                    $('#confirmationModal').modal();
                    $('#notification').text('User updated');
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Error Occured, ' + xhr.responseText);
                },
                complete: function () {
                    $('#editExistingUser').button('reset');
                }
            });
        });

        $('#registerNewBank').click(function (e) {

            $(this).button('loading');

            $.ajax({
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                data: { __RequestVerificationToken: helpers.getAntiForgeryToken(), BankName: $('#bankname').val(), BankAcronym: $('#bankacronym').val() },
                url: '/SetUp/RegisterNewBank',
                success: function (data) {
                    $('#manageBank').modal('hide');
                    $('#confirmationModal').modal();
                    $('#notification').text('New Bank Registered');
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Error Occured, ' + xhr.responseText);
                },
                complete: function () {
                    $('#registerNewBank').button('reset');
                }
            });
        });

        $('#editExistingBank').click(function (e) {

            $(this).button('loading');

            $.ajax({
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                data: { __RequestVerificationToken: helpers.getAntiForgeryToken(), Id: $('#bankId').val(), BankName: $('#bankname').val(), BankAcronym: $('#bankacronym').val() },
                url: '/SetUp/EditExistingBank',
                success: function (data) {
                    $('#manageBank').modal('hide');
                    $('#confirmationModal').modal();
                    $('#notification').text('Bank Updated');
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Error Occured, ' + xhr.responseText);
                },
                complete: function () {
                    $('#editExistingBranch').button('reset');
                }
            });
        });

        $('#registerNewBankGLAccount').click(function (e) {

            $(this).button('loading');

            $.ajax({
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                data: { __RequestVerificationToken: helpers.getAntiForgeryToken(), BankId: $('#glaccount_bank').val(), GLAccount: $('#glaccount').val() },
                url: '/SetUp/RegisterNewBankGLAccount',
                success: function (data) {
                    $('#manageBankGLAccount').modal('hide');
                    $('#confirmationModal').modal();
                    $('#notification').text('Bank GLAccount Registered');
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Error Occured, ' + xhr.responseText);
                },
                complete: function () {
                    $('#registerNewBankGLAccount').button('reset');
                }
            });
        });

        $('#bulkRegisterAccounts').click(function (e) {
            $(this).button('loading');

            console.log($('#accountfile'));

            var _data = new FormData();
            _data.append("__RequestVerificationToken", helpers.getAntiForgeryToken());
            _data.append("AccountFile", $('#accountfile')[0].files[0])


            $.ajax({
                type: 'POST',
                xhr: function () {
                    var uXhr = $.ajaxSettings.xhr();
                    if (uXhr.upload) {
                        console.log(uXhr);
                    }
                    return uXhr;
                },
                data: _data,
                contentType: false,
                processData: false,
                url: '/SetUp/BulkRegisterAccount',
                success: function (data) {
                    console.log(data);
                    $('#manageAccount').modal('hide');
                    $('#confirmationModal').modal();
                    $('#notification').text('Accounts Registered Succesfully');
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Error Occured, ' + xhr.responseText);
                },
                complete: function (data) {
                    $('#bulkRegisterAccounts').button('reset');
                }
            });
        });

        $('#registerNewAccount').click(function (e) {

            $(this).button('loading');

            var _data = {
                __RequestVerificationToken: helpers.getAntiForgeryToken(),
                AccountNumber: $('#accountnumber').val(),
                AccountName: $('#accountname').val(),
                AccountBranch: $('#branch_account').val()
            };
            $.ajax({
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                data: _data,
                url: '/SetUp/RegisterNewAccount',
                success: function (data) {
                    $('#manageAccount').modal('hide');
                    $('#confirmationModal').modal();
                    $('#notification').text('New Customer Account Registered');
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Error Occured, ' + xhr.responseText);
                },
                complete: function () {
                    $('#registerNewAccount').button('reset');
                }
            });
        });

        $('#registerNewBranch').click(function (e) {

            $(this).button('loading');

            var _data = {
                __RequestVerificationToken: helpers.getAntiForgeryToken(),
                BranchName: $('#branchname').val(),
                //GLAccount: $('#branch_glaccount').val(),
                BranchCode: $('#branchcode').val()
            };
            $.ajax({
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                data: _data,
                url: '/SetUp/RegisterNewBranch',
                success: function (data) {
                    $('#manageBranch').modal('hide');
                    $('#confirmationModal').modal();
                    $('#notification').text('New Branch Registered');
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Error Occured, ' + xhr.responseText);
                },
                complete: function () {
                    $('#registerNewBranch').button('reset');
                }
            });
        });

        $('#editExistingBranch').click(function (e) {

            $(this).button('loading');

            var _data = {
                __RequestVerificationToken: helpers.getAntiForgeryToken(),
                BranchName: $('#branchname').val(),
                Id: $('#branchId').val(),
                BranchCode: $('#branchcode').val()
            };
            $.ajax({
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                data: _data,
                url: '/SetUp/EditExistingBranch',
                success: function (data) {
                    $('#manageBranch').modal('hide');
                    $('#confirmationModal').modal();
                    $('#notification').text('Branch Updated');
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Error Occured, ' + xhr.responseText);
                },
                complete: function () {
                    $('#registerNewBranch').button('reset');
                }
            });
        });

        $('#confirmationModal').on('hide.bs.modal', function (e) {
            location.reload();
        });
    </script>
}

