
@{
    ViewBag.Title = "Index";
}
<style>
    html, body, .container-table {
        height: 500px;
    }

    .container-table {
        display: table;
    }

    .vertical-center-row {
        display: table-cell;
        vertical-align: middle;
    }
</style>
<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="col-md-3">
            <h2>Manage Users</h2>
            <p>
                Click the button below to add/remove Users
            </p>
            <p><a class="btn btn-default" data-toggle="modal" href="#manageUser">Manage Users &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Banks</h2>
            <p>Click the button below to add Banks</p>
            <p><a class="btn btn-default" data-toggle="modal" href="#manageBank">Add Bank &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Customer Accounts</h2>
            <p>Add Customer accounts</p>
            <p><a class="btn btn-default" data-toggle="modal" href="#manageAccount">Accounts &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Branch</h2>
            <p>Add/remove Branch</p>
            <p><a class="btn btn-default" data-toggle="modal" href="#manageBranch">Manage Branches &raquo;</a></p>
        </div>
    </div>

    @*Manage Users Modal*@
    <div class="row">
        <div class="modal fade" id="manageUser" tabindex="-1" role="dialog" aria-labelledby="ManageUserLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="ManageUserLabel">Manage Users</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="username" class="control-label">User Name:</label>
                                <input type="text" name="username" id="username" placeholder="User Name" autofocus required class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">Password:</label>
                                <input type="password" name="password" id="password" placeholder="Password" autocomplete="off" required class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">Confirm Password:</label>
                                <input type="password" name="confirm_password" id="confirm_password" required placeholder="Password" autocomplete="off" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="role" class="control-label">Role:</label>
                                <select name="role" id="role" required class="form-control">
                                    <optgroup label="Select Role">
                                        <option value="9263d72f-f46c-434a-aaf3-cbe9caa4a01d" selected>Administrator</option>
                                        <option value="d3391fbe-3bde-4ee8-a5a8-bad0c750ebfa">Head Office Operator</option>
                                        <option value="d8568c9b-5b4f-4f14-9a58-fe7ed1d5ed3f">Branch Operator</option>
                                        <option value="29b04043-710e-49c0-b629-52f75d318917">Branch Verifier</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="branch_user" class="control-label">Branch:</label>
                                <select name="branch_user" id="branch_user" required class="form-control">
                                    <optgroup label="Select Branch"></optgroup>
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="button" id="registerNewUser" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Registering New User ...">Submit </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        @*<a href="#" class="btn btn-primary">Remove User</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Bank*@
    <div class="row">
        <div class="modal fade" id="manageBank" tabindex="-1" role="dialog" aria-labelledby="ManageBankLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="ManageBankLabel">Manage Bank</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="bankname" class="control-label">Bank Name:</label>
                                <input type="text" name="bankname" id="bankname" placeholder="Bank Name" autofocus required class="form-control" />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="button" id="registerNewBank" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Registering New Bank ...">Submit </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Account*@
    <div class="row">
        <div class="modal fade" id="manageAccount" tabindex="-1" role="dialog" aria-labelledby="ManageAccountLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="ManageAccountLabel">Add Customer Accounts</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="accountnumber" class="control-label">Account Number:</label>
                                <input type="text" name="accountnumber" id="accountnumber" placeholder="Account Number" autofocus autocomplete="off" required class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="accountname" class="control-label">Account Name:</label>
                                <input type="text" name="accountname" id="accountname" placeholder="Account Name" required class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="bank_account" class="control-label">Bank:</label>
                                <select name="bank_account" id="bank_account" required class="form-control">
                                    <optgroup label="Select Bank"></optgroup>
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="button" id="registerNewAccount" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Registering New Account">Submit </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Branch*@
    <div class="row">
        <div class="modal fade" id="manageBranch" tabindex="-1" role="dialog" aria-labelledby="ManageBranchLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="ManageBranchLabel">Add Branch</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="branchname" class="control-label">Branch Name:</label>
                                <input type="text" name="branchname" id="branchname" placeholder="Branch Name" autofocus autocomplete="off" required class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="glaccount" class="control-label">GL Account</label>
                                <input type="text" name="glaccount" id="glaccount" placeholder="GL Account" required class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="bank_branch" class="control-label">Bank:</label>
                                <select name="bank_branch" id="bank_branch" required class="form-control">
                                    <optgroup label="Select Bank"></optgroup>
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="button" id="registerNewBranch" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Registering New Branch ...">Submit </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            helpers.getData("/SetUp/GetAllBranches", function (data) {
                helpers.buildDropdown(data, $('#branch_user'), 'Select Branch');
            });
            
            helpers.getData("/SetUp/GetAllBanks", function (data) {
                helpers.buildDropdown(data, $('#bank_branch'), 'Select Bank');
                helpers.buildDropdown(data, $('#bank_account'), 'Select Bank');
            });
            
        });

        $('#registerNewUser').click(function (e) {
            $(this).button('loading');

            if (!helpers.checkEquality($('#password').val(), $('#confirm_password').val())) {
                alert('Password strings does not match');
                $('#registerNewUser').button('reset');
                return false;
            }

            var _data = {
                __RequestVerificationToken: helpers.getAntiForgeryToken(),
                UserName: $('#username').val(),
                Role: $('#role').val(),
                Branch: $('#branch_user').val(),
                Password: $('#password').val(),
                ConfirmPassword: $('#confirm_password').val()
            };
            //console.log(_data);

            $.ajax({
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                url: '/SetUp/RegisterNewUser',
                data: _data,
                success: function (data) {
                    $('#manageUser').modal('hide');
                    $('#confirmationModal').modal();
                    $('#notification').text('New User Registered');
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Error Occured, Check Data Input');
                },
                complete: function () {
                    $('#registerNewUser').button('reset');
                }
            });
        });

        $('#registerNewBank').click(function (e) {

            $(this).button('loading');

            $.ajax({
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                data: { __RequestVerificationToken: helpers.getAntiForgeryToken(), BankName: $('bankname').val() },
                url: '/SetUp/RegisterNewBank',
                success: function (data) {
                    $('#manageBank').modal('hide');
                    $('#confirmationModal').modal();
                    $('#notification').text('New Bank Registered');
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Error Occured, Check Data Input');                    
                },
                complete: function () {
                    $('#registerNewBank').button('reset');
                }
            });
        });

        $('#registerNewAccount').click(function (e) {

            $(this).button('loading');

            var _data = {
                __RequestVerificationToken: helpers.getAntiForgeryToken(),
                BankId: $('#bank_account').val(),
                AccountNumber: $('#accountnumber').val(),
                AccountName: $('#accountname').val()
            };
            $.ajax({
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                data: _data,
                url: '/SetUp/RegisterNewAccount',
                success: function (data) {
                    $('#manageAccount').modal('hide');
                    $('#confirmationModal').modal();
                    $('#notification').text('New Customer Account Registered');
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Error Occured, Check Data Input');
                },
                complete: function () {
                    $('#registerNewAccount').button('reset');
                }
            });
        });

        $('#registerNewBranch').click(function (e) {

            $(this).button('loading');

            var _data = {
                __RequestVerificationToken: helpers.getAntiForgeryToken(),
                BankId: $('bank_branch').val(),
                BranchName: $('branchname').val(),
                GLAccount: $('glaccount').val()
            };
            $.ajax({
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                data: _data,
                url: '/SetUp/RegisterNewBranch',
                success: function (data) {
                    $('#manageBranch').modal('hide');
                    $('#confirmationModal').modal();
                    $('#notification').text('New Branch Registered');
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Error Occured, Check Data Input');
                },
                complete: function () {
                    $('#registerNewBranch').button('reset');
                }
            });
        });

        $('#confirmationModal').on('hide.bs.modal', function (e) {
            location.reload();
        });
    </script>
}

